<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.distribution.mapper.BizCodeSeqMapper">

    <update id="incrementSeq" parameterType="java.lang.String">
        UPDATE biz_code_seq
        SET seq = LAST_INSERT_ID(seq + 1), update_time = now()
        WHERE biz_key = #{bizKey}
    </update>

    <insert id="insertSeq" parameterType="java.lang.String">
        INSERT IGNORE INTO biz_code_seq(biz_key, seq, update_time)
        VALUES (#{bizKey}, 1, now())
    </insert>

    <select id="lastInsertId" resultType="java.lang.Long">
        SELECT LAST_INSERT_ID()
    </select>

    <select id="selectSeq" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT seq FROM biz_code_seq WHERE biz_key = #{bizKey}
    </select>

</mapper>
