<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.distribution.mapper.CustomerGroupMapper">

    <resultMap type="com.lin.distribution.domain.CustomerGroup" id="CustomerGroupResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectCustomerGroupVo">
        select id, name, is_deleted, create_by, create_time, update_by, update_time, remark
        from customer_group
    </sql>

    <select id="selectCustomerGroupById" parameterType="Long" resultMap="CustomerGroupResult">
        <include refid="selectCustomerGroupVo"/>
        where id = #{id}
    </select>

    <select id="selectCustomerGroupList" parameterType="com.lin.distribution.domain.CustomerGroup"
            resultMap="CustomerGroupResult">
        <include refid="selectCustomerGroupVo"/>
        <where>
            <if test="name != null and name != ''">and name like concat('%', #{name}, '%')</if>
            and is_deleted = 0
        </where>
        order by id
    </select>

    <insert id="insertCustomerGroup" parameterType="com.lin.distribution.domain.CustomerGroup" useGeneratedKeys="true"
            keyProperty="id">
        insert into customer_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateCustomerGroup" parameterType="com.lin.distribution.domain.CustomerGroup">
        update customer_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCustomerGroupById" parameterType="Long">
        update customer_group set is_deleted = 1 where id = #{id}
    </delete>

    <delete id="deleteCustomerGroupByIds" parameterType="Long">
        update customer_group set is_deleted = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
