<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.distribution.mapper.PrintAssetMapper">

    <resultMap type="com.lin.distribution.domain.PrintAsset" id="PrintAssetResult">
        <result property="id"           column="id"            />
        <result property="assetKey"      column="asset_key"     />
        <result property="fileName"      column="file_name"     />
        <result property="originName"    column="origin_name"   />
        <result property="contentType"   column="content_type"  />
        <result property="sizeBytes"     column="size_bytes"    />
        <result property="storagePath"   column="storage_path"  />
        <result property="url"           column="url"           />
        <result property="refCount"     column="ref_count"     />
        <result property="isDeleted"     column="is_deleted"    />
        <result property="createBy"     column="create_by"     />
        <result property="createTime"   column="create_time"   />
        <result property="updateBy"     column="update_by"     />
        <result property="updateTime"   column="update_time"   />
        <result property="remark"       column="remark"         />
    </resultMap>

    <sql id="selectPrintAssetVo">
        select id, asset_key, file_name, origin_name, content_type, size_bytes, storage_path, url, ref_count, is_deleted, create_by, create_time, update_by, update_time, remark from t_print_asset
    </sql>

    <select id="selectPrintAssetById" parameterType="Long" resultMap="PrintAssetResult">
        <include refid="selectPrintAssetVo"/>
        where id = #{id}
    </select>

    <select id="selectPrintAssetByKey" parameterType="String" resultMap="PrintAssetResult">
        <include refid="selectPrintAssetVo"/>
        where asset_key = #{assetKey} and is_deleted = 0
    </select>

    <select id="selectPrintAssetByStoragePath" parameterType="String" resultMap="PrintAssetResult">
        <include refid="selectPrintAssetVo"/>
        where storage_path = #{storagePath} and is_deleted = 0
    </select>

    <select id="selectPrintAssetList" parameterType="com.lin.distribution.domain.PrintAsset" resultMap="PrintAssetResult">
        <include refid="selectPrintAssetVo"/>
        <where>
            is_deleted = 0
            <if test="originName  != null and originName  != ''"> and origin_name like concat('%', #{originName}, '%')</if>
            <if test="contentType != null and contentType != ''"> and content_type = #{contentType}</if>
            <if test="assetKey    != null and assetKey    != ''"> and asset_key = #{assetKey}</if>
        </where>
        order by create_time desc, id desc
    </select>

    <insert id="insertPrintAsset" parameterType="com.lin.distribution.domain.PrintAsset" useGeneratedKeys="true" keyProperty="id">
        insert into t_print_asset
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="assetKey     != null">asset_key,</if>
            <if test="fileName     != null">file_name,</if>
            <if test="originName   != null">origin_name,</if>
            <if test="contentType  != null">content_type,</if>
            <if test="sizeBytes    != null">size_bytes,</if>
            <if test="storagePath  != null">storage_path,</if>
            <if test="url           != null">url,</if>
            <if test="refCount     != null">ref_count,</if>
            <if test="isDeleted    != null">is_deleted,</if>
            <if test="createBy     != null">create_by,</if>
            <if test="createTime   != null">create_time,</if>
            <if test="updateBy     != null">update_by,</if>
            <if test="updateTime   != null">update_time,</if>
            <if test="remark       != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="assetKey     != null">#{assetKey},</if>
            <if test="fileName     != null">#{fileName},</if>
            <if test="originName   != null">#{originName},</if>
            <if test="contentType  != null">#{contentType},</if>
            <if test="sizeBytes    != null">#{sizeBytes},</if>
            <if test="storagePath  != null">#{storagePath},</if>
            <if test="url           != null">#{url},</if>
            <if test="refCount     != null">#{refCount},</if>
            <if test="isDeleted    != null">#{isDeleted},</if>
            <if test="createBy     != null">#{createBy},</if>
            <if test="createTime   != null">#{createTime},</if>
            <if test="updateBy     != null">#{updateBy},</if>
            <if test="updateTime   != null">#{updateTime},</if>
            <if test="remark       != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePrintAsset" parameterType="com.lin.distribution.domain.PrintAsset">
        update t_print_asset
        <trim prefix="set" suffixOverrides=",">
            <if test="assetKey     != null">asset_key = #{assetKey},</if>
            <if test="fileName     != null">file_name = #{fileName},</if>
            <if test="originName   != null">origin_name = #{originName},</if>
            <if test="contentType  != null">content_type = #{contentType},</if>
            <if test="sizeBytes    != null">size_bytes = #{sizeBytes},</if>
            <if test="storagePath  != null">storage_path = #{storagePath},</if>
            <if test="url           != null">url = #{url},</if>
            <if test="refCount     != null">ref_count = #{refCount},</if>
            <if test="isDeleted    != null">is_deleted = #{isDeleted},</if>
            <if test="updateBy     != null">update_by = #{updateBy},</if>
            <if test="updateTime   != null">update_time = #{updateTime},</if>
            <if test="remark       != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deletePrintAssetById" parameterType="Long">
        update t_print_asset set is_deleted = 1, update_time = sysdate() where id = #{id}
    </update>

    <update id="deletePrintAssetByIds" parameterType="Long" >
        update t_print_asset set is_deleted = 1, update_time = sysdate() where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
