<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.distribution.mapper.PrintTemplateMapper">

    <resultMap type="com.lin.distribution.domain.PrintTemplate" id="PrintTemplateResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="content"    column="content"    />
        <result property="data"    column="data"    />
        <result property="type"    column="type"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="version"    column="version"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPrintTemplateVo">
        select id, customer_id, code, name, content, data, type, is_deleted, version, create_by, create_time, update_by, update_time, remark from t_print_template
    </sql>

    <select id="selectPrintTemplateList" parameterType="com.lin.distribution.domain.PrintTemplate" resultMap="PrintTemplateResult">
        <include refid="selectPrintTemplateVo"/>
        <where>
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null "> and type = #{type}</if>
        </where>
    </select>

    <select id="selectPrintTemplateById" parameterType="Long" resultMap="PrintTemplateResult">
        <include refid="selectPrintTemplateVo"/>
        where id = #{id}
    </select>

    <insert id="insertPrintTemplate" parameterType="com.lin.distribution.domain.PrintTemplate" useGeneratedKeys="true" keyProperty="id">
        insert into t_print_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">customer_id,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="data != null and data != ''">data,</if>
            <if test="type != null">type,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="version != null">version,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">#{customerId},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="data != null and data != ''">#{data},</if>
            <if test="type != null">#{type},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="version != null">#{version},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updatePrintTemplate" parameterType="com.lin.distribution.domain.PrintTemplate">
        update t_print_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="data != null and data != ''">data = #{data},</if>
            <if test="type != null">type = #{type},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="version != null">version = #{version},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePrintTemplateById" parameterType="Long">
        delete from t_print_template where id = #{id}
    </delete>

    <delete id="deletePrintTemplateByIds" parameterType="String">
        delete from t_print_template where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectOneByCustomerIdAndType" resultMap="PrintTemplateResult">
        <include refid="selectPrintTemplateVo"/>
        <where>
            <if test="customerId == null ">and customer_id = '0'</if>
            <if test="customerId != null ">and customer_id in ('0', #{customerId})</if>
            <if test="type != null ">and type = #{type}</if>
        </where>
        order by customer_id desc, create_time desc
        limit 1
    </select>
</mapper>