<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.distribution.mapper.ProductSkuQuoteDetailMapper">
    <resultMap type="com.lin.distribution.domain.ProductSkuQuoteDetail" id="ProductSkuQuoteDetailResult">
        <result property="id" column="id"/>
        <result property="customerId" column="customer_id"/>
        <result property="quoteId" column="quote_id"/>
        <result property="skuId" column="sku_id"/>
        <result property="productName" column="product_name"/>
        <result property="productUnit" column="product_unit"/>
        <result property="productSpec" column="product_spec"/>
        <result property="price" column="price"/>
        <result property="valid" column="valid"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="version" column="version"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectProductSkuQuoteDetailVo">
        select id,
               customer_id,
               quote_id,
               sku_id,
               product_name,
               product_unit,
               product_spec,
               price,
               valid,
               is_deleted,
               version,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from t_product_sku_quote_detail
    </sql>

    <select id="selectProductSkuQuoteDetailList" parameterType="com.lin.distribution.domain.ProductSkuQuoteDetail"
            resultMap="ProductSkuQuoteDetailResult">
        <include refid="selectProductSkuQuoteDetailVo"/>
        <where>
            <if test="productName != null  and productName != ''">
                and product_name like concat('%', #{productName}, '%')
            </if>
            <if test="productUnit != null  and productUnit != ''">
                and product_unit = #{productUnit}
            </if>
            <if test="valid != null">
                and valid = #{valid}
            </if>
        </where>
    </select>

    <select id="selectProductSkuQuoteDetailById" parameterType="Long" resultMap="ProductSkuQuoteDetailResult">
        <include refid="selectProductSkuQuoteDetailVo"/>
        where id = #{id}
    </select>

    <insert id="insertProductSkuQuoteDetail" parameterType="com.lin.distribution.domain.ProductSkuQuoteDetail"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_product_sku_quote_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="quoteId != null">
                quote_id,
            </if>
            <if test="skuId != null">
                sku_id,
            </if>
            <if test="productName != null and productName != ''">
                product_name,
            </if>
            <if test="productUnit != null and productUnit != ''">
                product_unit,
            </if>
            <if test="productSpec != null">
                product_spec,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="valid != null">
                valid,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="version != null and version != ''">
                version,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                #{customerId},
            </if>
            <if test="quoteId != null">
                #{quoteId},
            </if>
            <if test="skuId != null">
                #{skuId},
            </if>
            <if test="productName != null and productName != ''">
                #{productName},
            </if>
            <if test="productUnit != null and productUnit != ''">
                #{productUnit},
            </if>
            <if test="productSpec != null">
                #{productSpec},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="valid != null">
                #{valid},
            </if>
            <if test="isDeleted != null">
                #{isDeleted},
            </if>
            <if test="version != null and version != ''">
                #{version},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateBy != null">
                #{updateBy},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
        </trim>
    </insert>

    <update id="updateProductSkuQuoteDetail" parameterType="com.lin.distribution.domain.ProductSkuQuoteDetail">
        update t_product_sku_quote_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">
                customer_id = #{customerId},
            </if>
            <if test="quoteId != null">
                quote_id = #{quoteId},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId},
            </if>
            <if test="productName != null and productName != ''">
                product_name = #{productName},
            </if>
            <if test="productUnit != null and productUnit != ''">
                product_unit = #{productUnit},
            </if>
            <if test="productSpec != null">
                product_spec = #{productSpec},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="valid != null">
                valid = #{valid},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="version != null and version != ''">
                version = #{version},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductSkuQuoteDetailById" parameterType="Long">
        delete
        from t_product_sku_quote_detail
        where id = #{id}
    </delete>

    <delete id="deleteProductSkuQuoteDetailByIds" parameterType="String">
        delete
        from t_product_sku_quote_detail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>