<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.distribution.mapper.ProductSkuQuoteMapper">

    <resultMap type="com.lin.distribution.domain.ProductSkuQuote" id="ProductSkuQuoteResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="code"    column="code"    />
        <result property="effectiveStartDate"    column="effective_start_date"    />
        <result property="effectiveEndDate"    column="effective_end_date"    />
        <result property="valid"    column="valid"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="version"    column="version"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectProductSkuQuoteVo">
        select id, customer_id, code, effective_start_date, effective_end_date, valid, is_deleted, version, create_by, create_time, update_by, update_time, remark from t_product_sku_quote
    </sql>

    <select id="selectProductSkuQuoteList" parameterType="com.lin.distribution.domain.ProductSkuQuote" resultMap="ProductSkuQuoteResult">
        <include refid="selectProductSkuQuoteVo"/>
        <where>
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="code != null "> and code = #{code}</if>
            <if test="effectiveStartDate != null "> and effective_start_date &gt;= #{effectiveStartDate}</if>
            <if test="effectiveEndDate != null "> and effective_end_date &lt;= #{effectiveEndDate}</if>
            <if test="createTimeStart != null and createTimeEnd != null">
                and create_time between #{createTimeStart} and #{createTimeEnd}
            </if>
            <if test="valid != null "> and valid = #{valid}</if>
        </where>
    </select>

    <select id="selectProductSkuQuoteById" parameterType="Long" resultMap="ProductSkuQuoteResult">
        <include refid="selectProductSkuQuoteVo"/>
        where id = #{id}
    </select>

    <select id="selectProductSkuQuoteByCode" resultMap="ProductSkuQuoteResult">
        <include refid="selectProductSkuQuoteVo"/>
        where code = #{code}
    </select>

    <insert id="insertProductSkuQuote" parameterType="com.lin.distribution.domain.ProductSkuQuote" useGeneratedKeys="true" keyProperty="id">
        insert into t_product_sku_quote
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">customer_id,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="effectiveStartDate != null">effective_start_date,</if>
            <if test="effectiveEndDate != null">effective_end_date,</if>
            <if test="valid != null">valid,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="version != null">version,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">#{customerId},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="effectiveStartDate != null">#{effectiveStartDate},</if>
            <if test="effectiveEndDate != null">#{effectiveEndDate},</if>
            <if test="valid != null">#{valid},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="version != null">#{version},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateProductSkuQuote" parameterType="com.lin.distribution.domain.ProductSkuQuote">
        update t_product_sku_quote
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="effectiveStartDate != null">effective_start_date = #{effectiveStartDate},</if>
            <if test="effectiveEndDate != null">effective_end_date = #{effectiveEndDate},</if>
            <if test="valid != null">valid = #{valid},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="version != null">version = #{version},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductSkuQuoteById" parameterType="Long">
        delete from t_product_sku_quote where id = #{id}
    </delete>

    <delete id="deleteProductSkuQuoteByIds" parameterType="String">
        delete from t_product_sku_quote where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>